endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set steam_webApiKey "7C59B89F64329F3DE4DD8D7B44599C92" # Coloque usa Steam API Key 

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=vrpex"

#### Start Inicial ###

stop webadmin
start mapmanager
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start sks_animacoes
start GHMattiMySQL
start vrp
start chat
start vrp_ghmattimysql
start vSync
start vrp_identidade
start vrp_logo
start eag_banco
start vrp_loading
start vrp_misc
start baseevents

#### Essencias da Base ####
start vrp_login
start vrp_discord
start nation_bennys
start disney-character
start vrp_login
start lux_vehcontrol
start vrp_policia
start vrp_notifycall
start vrp_player
start vrp_admin
start vrp_animacoes
start vrp_diagnostic
start vrp_itemdrop
start vrp_sounds
start vrp_doors
start vrp_legacyfuel
start vrp_notify
start npc_control
start vrp_hospital
start vrp_loading
start vrp_emergencyblips
start vrp_discord
start vrp_progressbar
start vrp_homes
start vrp_ignore
start vrp_hud
start nation_concessionaria
start nation_garages
start mumble-voip
start crz_arsenal
start vrp_policealerts
start vrp_barbershop
start Arc-Wall
start vrp_skinshop
start vrp_radio
start nyo_tattoo
start bdl_chest
start bdl_inventory
start vrp_trunkchest
start narp_ammu
start narp_depart
start Luzes-ELS


####### MODS

start vehiclesPolice
start mapa-policia
start fav_franca
start fav_israel
start fav_petroleo
start favela_11
start mec_redline
start addoncars
start new_vanilla_unicorn
start motel_vanilla_3
# start repair

##### Empregos ####

start emp_eletricista
start emp_lixeiro
start emp_motorista
start thor_ifoodV1.2
start emp_pescador_skips
start nav_pescador
start emp_caminhao
start nav_caminhao

#### Ilegal ####


#### Roubos ####

start vrp_bankrobbery
start vrp_registradora

#### Veiculos ####

start customplate

### roupas ###


#### Mapas ####

start mapas
start BarreiraInvPraca
start mapa-hospital


sv_scriptHookAllowed 0


add_ace group.sync "changeWeather" allow
add_ace group.sync "changeTime" allow
add_ace group.sync "freezeTime" allow

add_ace group.sync command.weather allow
add_ace group.sync command.time allow
add_ace group.sync command.freezetime allow

sets banner_detail ""
sets banner_connecting ""


sets locale "pt-BR"
sets tags "Gta RP, Base FiveM, Clean"


set sv_listingIpOverride "127.0.0.1"
sets sv_projectDesc "Brasil Gta RP Base Clean"
sets sv_projectName "Brasil Gta RP Base Clean"
sv_hostname "^2[BRASIL] ^3Base Clean Igor Winchester ROLEPLAY | ^2Otimizada | FPS ^4+120 | ^2 𝟱0K INICIAL🧡 | ^2L^8G^3B^2T^4Q^6I+🌈 | ^3WHITELIST AUTOMATICA🤖 | ^5RP LEVADO A SERIO |"
load_server_icon server.png
#sv_master1 ""

sv_maxclients 10
sv_endpointprivacy true

set onesync_enabled false
onesync_distanceCullVehicles true
onesync_forceMigration true

sv_licenseKey cfxk_eP1YvGcim4D7IVtzzMdF_2RlbbK

add_ace resource.GCNAC command.add_ace allow
add_ace resource.GCNAC command.add_principal allow
add_ace resource.GCNAC command.remove_principal allow